# Core
fastapi
uvicorn[standard]
python-dotenv
python-multipart
httpx

# Auth & Security
passlib[bcrypt]
python-jose[cryptography]

# Background jobs
celery
redis

# Database
pymongo

# PDF processing
pymupdf

# Audio
pydub

# AI
google-genai

# Storage
supabase

# Utilities
email-validator
